<h2>Reproductor audio</h2>
<br>
<h5 *ngIf="cancionActual">{{cancionActual}}</h5>
<br>
<audio id="audio" preload="auto" tabindex="0" controls="">
    <source src="">
</audio>
<br><br>
<h4>Lista de reproduccion</h4>
<br>
<ul class="list-group list-group-flush" id="playlist" *ngFor="let cancion of canciones">
    <li class="list-group-item itemCancion d-flex">
        {{cancion.titulo + ' - ' + cancion.duracion}}
        <div class="ml-auto">
            <a data-toggle="modal" href="" class="iconoCancion ml-2" (click)="eliminarCancion(cancion)">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </li>
</ul>